/* Slick Carousel Base Styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Custom Slick Overrides */
.slick-slider {
  position: relative;
}

.slick-dots {
  bottom: 30px;
  z-index: 20;
}

.slick-dots li button:before {
  color: white;
  font-size: 14px;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-prev,
.slick-next {
  z-index: 20;
  width: 60px;
  height: 60px;
}

.slick-prev {
  left: 30px;
}

.slick-next {
  right: 30px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px;
  opacity: 0.8;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}
